.header{
    margin-top: 50px;
    margin-left: 100px;
    border: 10px;
    background-color: rgb(54, 155, 209,0.75);
    height: 50px;
    width: 1150px;
}
.header h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-align: center;
}
.containor{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    border: 10px;
    background-color: rgb(91, 240, 235,0.7);
    height: 330px;
}
.containor h1{
    color: rgb(236, 90, 22); 
    text-align: center;
    text-decoration: double;
}

.priview{
    margin-left: 500px;
    width: 30%;
}
.priview h1{
    width: 30%;
    text-align: right;
}